<div class="main">
  <div class="container">
      <h1>Registrarse</h1>
      <label for="">Nombre completo*</label>
      <input type="text" placeholder="Escribe tu nombre completo...">
      <label for="">Tipo de documento</label>
      <select name="" id="" placeholder="Escribe tu número de identificación...">
        <option value="" disabled selected>Seleccione una opción</option>
        <option value="">Cédula de ciudadania</option>
        <option value="">Cédula extranjera</option>
        <option value="">Pasaporte</option>
      </select>
      <label for="">Número de documento*</label>
      <input type="text" placeholder="Escribe tu número de identificación...">
      <label for="">Celular</label>  
      <input type="text" placeholder="Escribe tu número de celular...">
      <label for="">Correo Electronico</label>  
      <input type="text" placeholder="Escribe tu correo electronico...">  
      <label for="">Correo Electronico</label>  
      <select name="" id="">
        <option value="" disabled selected>Seleccione una opción</option>
        <option value="Administrador">Administrador</option>
        <option value="Asesor">Asesor</option>
        <option value="Cliente">Cliente</option>
        <option value="Transportista">Transportista</option>
    </select>
      <Button type="submit">Enviar</Button>           
    </div>
</div>