<div class="main">
    <div class="container">
      <h2>Iniciar Sesión</h2>
      <label for="">Usuario:</label>
      <input type="text" placeholder="Ingresa tu usuario...">
      <label for="">Contraseña:</label>
      <input type="password" placeholder="Ingresa tu contraseña...">
      <a href="">Olvidaste tu contraseña?</a>
      <div class="container-two">
        <a href="app-registrarse" routerLink="/registrarse.component.html'" routerLinkActive="router-link-active" >Registrarse</a>
        <button type="submit">Siguiente</button>
      </div>  
    </div>
</div>